@font-face {
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Geometria'), url('./fonts/Geometria-Light.woff2') format('woff2');
}
@font-face {
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Geometria'), url('./fonts/Geometria-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Geometria'), url('./fonts/Geometria-Bold.woff2') format('woff2');
}
@font-face {
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: local('Geometria'), url('./fonts/Geometria-Heavy.woff2') format('woff2');
}