:root {
    --black: #000;
    --white: #FFF;

    --purple-dark-opacity: rgba(162, 123, 181, .4);
    --purple-dark: #4C2770;
    --purple-light: #A783BA;

    --bg1: #F6F3F8;

    --grey1: #AAA;
    --grey2: #F3F3F3;
    --grey3: #67747D;
}

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
	xl: 1250px
);

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
	xl: 1230px
);

$gutter: 30px;