.filter-product {

    &__parts {
        margin: 35px 0 85px;
        display: flex;
        padding: 0 0 135px;
        border-bottom: 3px solid var(--purple-light2);
    }
    &__left {
        width: 280px;
        border-right: 1px solid var(--grey4);
        padding: 50px 40px 0 0;
        margin: 20px 0 0;
    }
    &__right {
        width: calc(100% - 280px);
        padding: 0 0 0 45px;
    }

    @include media-breakpoint-only(lg)
    {
        &__right {
            padding: 0 0 0 15px;
        }
    }
    @include media-breakpoint-only(md)
    {
        &__parts {
            margin: 35px 0 50px;
            padding: 0 0 50px;
        }
    }
    @include media-breakpoint-down(sm)
    {
        &__parts {
            margin: 30px 0 60px;
            padding: 0;
            border-bottom: none;
            flex-direction: column;
        }
        &__left {
            width: 100%;
            border-right: none;
            padding: 0;
            margin: 0 0 50px;
        }
        &__right {
            width: 100%;
            padding: 0;
        }
    }

    &_inner &__parts {
        margin: 45px 0 0;
        border: none;
    }
    &_inner &__left {
        padding: 0 40px 0 0;
        margin: 0;
    }

    @include media-breakpoint-down(sm)
    {
        &_inner &__parts {
            margin: 20px 0 0;
        }
    }
}