.form-two {
    text-align: left;

    &__line {
        margin: 0 0 25px;

        &_num {
            max-width: 120px;
        }
    }
    &__label {
        font-size: 14px;
        font-weight: bold;
        color: var(--grey5);
        margin: 0 0 10px 25px;

        &-normal {
            font-weight: normal;
        }
    }
    &__input {
        height: 60px;
        width: 100%;
        border: 1px solid var(--grey2);
        border-radius: 5px;
        padding: 0 25px;
        box-shadow: none;
        transition: .5s;
        font-size: 14px;

        &:hover,
        &:focus {
            border-color: var(--purple-light2);
        }
        &_sm {
            height: 50px;
            padding: 0 15px;
        }
    }
    &__textarea {
        height: 60px;
        width: 100%;
        border: 1px solid var(--grey2);
        border-radius: 5px;
        padding: 15px 25px;
        box-shadow: none;
        transition: .5s;
        font-size: 14px;
        resize: none;
        min-height: 120px;
    }
    &__textarea:focus,
    &__textarea:hover {
        border-color: var(--purple-light2);
    }
    &__btn {
        width: 240px;
        margin: 0 auto 20px;

        &_mt {
            margin-top: 50px;
        }
    }
    &__personal {
        color: var(--grey5);
        font-size: 12px;
        text-align: center;
    }
    &__error {
        display: none;
        font-size: 14px;
        color: var(--orange);
        margin: 0 0 10px;
    }

    &__line_error &__label {
        display: none;
    }
    &__line_error &__error {
        display: block;
    }
    &__line_error &__input {
        border-color: var(--orange);
    }

    @include media-breakpoint-down(md)
    {
        &__line_num {
            margin: 0 auto 25px;
        }
        &__label,
        &__error {
            margin-left: 0;
            text-align: center;
        }
        &__label_no-center {
            text-align: left;
            margin-left: 10px;
        }
        &__input {
            height: 50px;
            padding: 0 15px;
        }
        &__textarea {
            padding: 10px 15px;
        }
        &__btn {
            width: 220px;

            &_mt {
                margin-top: 40px;
            }
        }
    }
}