.fancybox-is-open .fancybox-bg {
    background: var(--modal-bg);
    opacity: 1;
}

.window-one {
    display: none;
    border-radius: 5px;

    &_no-padding {
        padding: 0;
    }
    &_info {
        width: 100%;
        max-width: 540px;
        text-align: center;
        color: var(--purple-dark);
    }
    &_info &__body {
        min-height: 310px;
        font-size: 30px;
        display: flex;
        align-items: center;
    }
    &__close {
        position: absolute;
        height: 31px;
        width: 31px;
        right: 20px;
        top: 20px;

        &:before,
        &:after {
            content: "";
            height: 100%;
            width: 1px;
            background-color: var(--black);
            position: absolute;
            left: 50%;
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
    }

    @include media-breakpoint-down(md)
    {
        &_info &__body {
            min-height: 150px;
            font-size: 22px;
        }
        &__close {
            right: 15px;
            top: 15px;
        }
    }
}