.quick-order {
    margin: 0 0 150px;

    &__parts {
        display: flex;
    }
    &__left {
        width: 50%;
        padding: 55px 15px 20px 0;
    }
    &__right {
        width: 50%;
        padding: 0 0 0 15px;
    }

    @include media-breakpoint-down(md)
    {
        & {
            margin: 0 0 45px;

            &__parts {
                flex-direction: column;
            }
            &__left {
                width: 100%;
                padding: 30px 0 45px;
            }
            &__right {
                width: 100%;
                padding: 0;
            }
        }
    }
    @include media-breakpoint-down(sm)
    {
        &__check {
            margin: 40px 0 0;
        }
    }
}

.quick-order-check {
    display: flex;
    flex-wrap: wrap;

    &__item {
        width: 50%;
        margin: 0 0 65px;
    }

    @include media-breakpoint-only(md)
    {
        &__item {
            margin: 0 0 25px;
        }
    }
    @include media-breakpoint-down(sm)
    {
        &__item {
            margin: 0;
        }
    }
}

.two-parts {
    display: flex;
    max-width: 200px;

    &__item {
        width: 50%;
    }
}

.quick-order-result {
    height: 100%;
    background-color: var(--bg1);
    background-image: url(img/quick.order.bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    padding: 45px 0 0 50px;

    &__items {
        display: flex;
        margin: 0 0 45px;
    }
    &__item {
        width: 50%;
        font-size: 25px;
        font-weight: bold;
    }
    &__title {
        color: var(--grey5);
    }
    &___line-through {
        text-decoration: line-through;
    }
    &__price {
        font-size: 40px;
        font-weight: bold;
        color: var(--purple-dark);
        margin: 0 0 30px;
    }

    @include media-breakpoint-only(md)
    {
        & {
            height: 440px;
            padding: 45px 50px;
        }
    }
    @include media-breakpoint-down(sm)
    {
        & {
            height: 270px;
            padding: 30px 0 20px 20px;
            display: flex;
            flex-direction: column;
            background-image: url(img/quick.order.bg.mobile.png);

            &__items {
                margin: 0 0 20px;
            }
            &__item {
                font-size: 18px;
            }
            &__price {
                font-size: 24px;
            }
            &__btn {
                margin: auto 0 0;
            }
        }
    }
}