.menu-bottom {
    display: flex;
    align-items: center;
    max-width: 265px;
    flex-wrap: wrap;

    &__link {
        color: var(--black);
        font-size: 12px;
        text-decoration: none;
        text-transform: uppercase;
        margin: 15px 50px 0 0;

        &:hover {
            text-decoration: underline;
        }
    }
}