.menu-bottom {
    display: flex;
    align-items: center;
    max-width: 215px;
    flex-wrap: wrap;

    &__link {
        color: var(--black);
        font-size: 12px;
        text-decoration: none;
        text-transform: uppercase;
        margin: 15px 50px 0 0;

        &:hover {
            text-decoration: underline;
        }
        &:last-child {
            margin-right: 0;
        }
    }

    @include media-breakpoint-down(md)
    {
        & {
            max-width: 265px;
            justify-content: space-between;
        }
    }
}