<% var data = {
    title: "Вход (новый пароль)"
}; %>

<%= _.template(require('./../includes/header.html'))(data) %>

<!-- Заголовок страницы -->
<div class="page-head">
    <div class="container">
        <div class="title-leaf">
            <svg class="title-leaf__icon title-leaf__icon_v1">
                <use xlink:href="./local/img/sprite.svg#leaf"></use>
            </svg>
            <h1 class="text-center mb-0 color-purple">Войти</h1>
        </div>
    </div>
</div>

<div class="auth-form">
    <div class="container">
        <div class="auth-form__registration">
            <a href="javascript:;">Зарегистрироваться</a>
        </div>
        <div class="auth-form__block">

            <div class="form-two">
                <form action="">
                    <div class="form-two__line">
                        <label class="form-two__label">Введите новый пароль</label>
                        <input type="text" class="form-two__input">
                    </div>
                    <div class="form-two__line">
                        <label class="form-two__label">Введите повторно новый пароль</label>
                        <input type="password" class="form-two__input">
                    </div>
                    <div class="form-two__btn">
                        <button type="submit" href="javascript:;" class="btn btn-purple btn-full-width">Сохранить</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer.html'))(data) %>