<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Title</title>
</head>
<body>
    <header class="main-header">
        <div class="container">
            <div class="main-header__inner">
                <div class="main-header__menu">
                    <nav class="menu-top">
                        <a href="javascript:;" class="menu-top__link">как это работает</a>
                        <a href="javascript:;" class="menu-top__link">меню и тарифы</a>
                        <a href="javascript:;" class="menu-top__link">отзывы</a>
                    </nav>
                </div>
                <a href="/" class="main-header__logo">
                    <img src="./local/img/logo.svg" alt="">
                </a>
                <div class="main-header__right">
                    <div class="main-header__city">
                        <select class="select-style">
                            <option value="">Санкт-Петербург</option>
                            <option value="">Москва</option>
                            <option value="">Казань</option>
                        </select>
                    </div>
                    <div class="main-header__btn">
                        <a href="javascript:;" class="btn btn-purple btn-full-width btn-md">Личный кабинет</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main class="main-main">

        <div class="index-slider">
            <div class="index-slider__block">
                <div class="container">
                    <div class="index-slider__title">
                        Помогаем соблюдать диету по медицинским показаниям
                    </div>
                    <div class="index-slider__desc">
                        Не теряйте время на кухне и в продуктовом магазине
                    </div>
                    <div class="index-slider__btns">
                        <a href="javascript:;" class="btn btn-padding-sm btn-purple index-slider__btn-first">Заказать</a>
                        <a href="javascript:;" class="btn btn-padding-sm btn-white">Перезвонить мне</a>
                    </div>
                </div>
            </div>
            <img src="./local/img/index.slider.img.png" class="index-slider__img">
        </div>

        <div class="index-doctor">
            <div class="container">
                <div class="index-doctor__inner">
                    <div class="index-doctor__pict">
                        <img src="./local/img/index.doctor.png" alt="" class="index-doctor__img">
                    </div>
                    <div class="index-doctor__info">
                        <div class="index-doctor__name">
                            Александра Белодедова
                        </div>
                        <div class="index-doctor__dol">
                            ВРАЧ-ДИЕТОЛОГ, ГАСТРОЭНТЕРОЛОГ
                        </div>
                        <div class="index-doctor__text">
                            Медицинский консультант<br> 
                            нашего проекта.<br>
                            Помогла нам разработать<br> 
                            щадящую диету, а так же диету,<br> 
                            рекомендованную при Диабете 2 типа.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="index-work">
            <div class="container">
                <div class="title-leaf">
                    <svg class="title-leaf__icon title-leaf__icon_v1">
                        <use xlink:href="./local/img/sprite.svg#leaf"></use>
                    </svg>
                    <h2 class="text-center mb-0 color-purple">Как это работает?</h2>
                </div>
                <div class="index-work__items">
                    <div class="index-work__item">
                        <div class="index-work__pict">
                            <img src="./local/img/index.work.1.svg" alt="" class="index-work__img">
                        </div>
                        <div class="index-work__text">
                            Наш диетолог разработал меню, рекомендованное по медицинским показаниям
                        </div>
                    </div>
                    <div class="index-work__item">
                        <div class="index-work__pict">
                            <img src="./local/img/index.work.2.svg" alt="" class="index-work__img">
                        </div>
                        <div class="index-work__text">
                            Готовим исключительно из свежих и натуральных продуктов
                        </div>
                    </div>
                    <div class="index-work__item">
                        <div class="index-work__pict">
                            <img src="./local/img/index.work.3.svg" alt="" class="index-work__img">
                        </div>
                        <div class="index-work__text">
                            Бесплатно доставим ваш заказ в пределах города
                        </div>
                    </div>
                    <div class="index-work__item">
                        <div class="index-work__pict">
                            <img src="./local/img/index.work.4.svg" alt="" class="index-work__img">
                        </div>
                        <div class="index-work__text">
                            Вы питаетесь правильно, вкусно и разнообразно
                        </div>
                    </div>
                </div>
                <div class="index-work__btn">
                    <a href="javascript:;" class="btn btn-purple">Заказать</a>
                </div>
            </div>
        </div>

    </main>
    <footer class="main-footer">
        <div class="container">
            <div class="main-footer__inner">
                <a href="/" class="main-footer__logo">
                    <img src="./local/img/logo.svg" alt="">
                </a>
                <div class="main-footer__menu">
                    <nav class="menu-bottom">
                        <a href="javascript:;" class="menu-bottom__link">как это работает</a>
                        <a href="javascript:;" class="menu-bottom__link">меню и тарифы</a>
                        <a href="javascript:;" class="menu-bottom__link">отзывы</a>
                    </nav>
                </div>
                <div class="main-footer__social">
                    <div class="social-block">
                        <div class="social-block__title">Мы в социальных сетях</div>
                        <div class="social-block__links">
                            <a href="javascript::" class="social-block__link" target="_blank">
                                <svg class="social-block__icon social-block__icon_ig">
                                    <use xlink:href="./local/img/sprite.svg#ig"></use>
                                </svg>
                            </a>
                            <a href="javascript::" class="social-block__link" target="_blank">
                                <svg class="social-block__icon social-block__icon_fb">
                                    <use xlink:href="./local/img/sprite.svg#fb"></use>
                                </svg>
                            </a>
                            <a href="javascript::" class="social-block__link" target="_blank">
                                <svg class="social-block__icon social-block__icon_vk">
                                    <use xlink:href="./local/img/sprite.svg#vk"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="main-footer__info">
                    <a href="tel:+78007776875" class="main-footer__link">8 (800) 777-68-75</a>
                    <a href="mailto:hello@polza.diet" class="main-footer__link">hello@polza.diet</a>
                </div>
                <div class="main-footer__btn">
                    <a href="javascript:;" class="btn btn-purple btn-full-width btn-md">Личный кабинет</a>
                </div>
            </div>
            <div class="main-footer__copy">
                © 2021 Польза — сервис доставки питания. Фотографии блюд на сайте являются вариантом сервировки блюда.<br>
                Внешний вид блюда может отличаться от фотографии на сайте. Указывая номер телефона на сайте,<br>
                Вы соглашаетесь с условиями Публичной оферты и Политикой конфедициальности
            </div>
        </div>
    </footer>
</body>
</html>